services:
  # SQL Server
  sql-server:
    image: mcr.microsoft.com/mssql/server:2019-latest
    container_name: sql-server
    ports:
      - "1433:1433"
    environment:
      - ACCEPT_EULA=Y
      - SA_PASSWORD=YourStrong@Password123
      - MSSQL_PID=Express
    volumes:
      - sql-server-data:/var/opt/mssql
    restart: unless-stopped

  # RabbitMQ
  rabbitmq:
    image: mirror.gcr.io/rabbitmq:3-management
    container_name: rabbitmq
    ports:
      - "5672:5672"
      - "15672:15672"
    environment:
      - RABBITMQ_DEFAULT_USER=guest
      - RABBITMQ_DEFAULT_PASS=guest
    volumes:
      - rabbitmq-data:/var/lib/rabbitmq
    restart: unless-stopped

  # Users микросервис
  users-api:
    build:
      context: ./Users
      dockerfile: Users.API/Dockerfile
    container_name: users-api
    ports:
      - "5291:80"
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - ASPNETCORE_URLS=http://+:80
      - ConnectionStrings__DefaultConnection=Server=sql-server;Database=UsersDb;User Id=sa;Password=YourStrong@Password123;TrustServerCertificate=True
      - RabbitMQ__HostName=rabbitmq
      - RabbitMQ__UserName=guest
      - RabbitMQ__Password=guest
      - RabbitMQ__Port=5672
      - JwtSettings__SecretKey=Y2F0Y2hfdGhpc19pZl9jb3VfbG9sX3NlY3JldF9rZXlfaXNfYXQgbGVhc3QgMzIgY2hhcnMhISE=
      - JwtSettings__Issuer=http://localhost:5291
      - JwtSettings__Audience=http://localhost:5291
      - JwtSettings__ExpiryMinutes=60
      - SmtpSettings__Server=smtp.gmail.com
      - SmtpSettings__Port=587
      - SmtpSettings__SenderName=Inno Shop
      - SmtpSettings__SenderEmail=petuskovvladislav@gmail.com
      - SmtpSettings__Username=petuskovvladislav@gmail.com
      - SmtpSettings__Password=amwwocglfwggdrhv
      - SmtpSettings__EnableSsl=true
      - SmtpSettings__UseDefaultCredentials=false
      - ApplicationSettings__BaseUrl=http://localhost:5291
      - ApplicationSettings__ConfirmEmailPath=api/auth/confirm-email
      - ApplicationSettings__ResetPasswordPath=api/auth/reset-password
    depends_on:
      - sql-server
      - rabbitmq
    restart: unless-stopped

  # Products микросервис
  products-api:
    build:
      context: ./Products
      dockerfile: Products.API/Products.API/Dockerfile
    container_name: products-api
    ports:
      - "5292:80"
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - ASPNETCORE_URLS=http://+:80
      - ConnectionStrings__DefaultConnection=Server=sql-server;Database=ProductsDb;User Id=sa;Password=YourStrong@Password123;TrustServerCertificate=True
      - RabbitMQ__HostName=rabbitmq
      - RabbitMQ__UserName=guest
      - RabbitMQ__Password=guest
      - RabbitMQ__Port=5672
      - JwtSettings__SecretKey=Y2F0Y2hfdGhpc19pZl9jb3VfbG9sX3NlY3JldF9rZXlfaXNfYXQgbGVhc3QgMzIgY2hhcnMhISE=
      - JwtSettings__Issuer=http://localhost:5291
      - JwtSettings__Audience=http://localhost:5291
      - JwtSettings__ExpiryMinutes=60
    depends_on:
      - sql-server
      - rabbitmq
    restart: unless-stopped

volumes:
  sql-server-data:
  rabbitmq-data: